.headerblock{
    background: #9E77F3;
    background-image: linear-gradient(to right bottom, #a387ff, #d27fe6, #ee7dcb, #fc82b1, #ff8c9c, #ff9792, #ffa28a, #ffaf86, #ffbb86, #ffc888, #ffd48c, #fde192);
padding: 50px;
border-radius: 20px;
box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.6);
}
@media screen and (max-width:500px) {
    .headerblock{
        padding: 20px;
    }
    
}
.headerblock-left{
    color: white;
    font-family: 'Poppins', sans-serif;
}
.headerblock-left h1{
    font-size: 38px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.headerblock-left h3{
    font-size: 28px;
    font-family: 500;
    margin-bottom: 15px;
    line-height: 36px;
}
.headerblock-left p{
    font-size: 12px;
    line-height: 18px;
}
.get-start{
    height: 50px;
    width: 140px;
    background-color: white;
    border-radius: 25px;
    color: #53B9F3;
    border:0px;
    transition: 0.8s;
    border: 1px solid #53B9F3;
}
.get-start:hover{
    border: 1px solid white;
    color: white;
    background-color: transparent;
}
.header-card{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: white;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 0px 8px black;
}

.header-card-head{
    display: flex;
    padding: 15px 25px;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header-card-head button{
    border: 0px;
    background-color: white;
}
.list-group li{
    border: 0px;
}
.list-group .table-heading{
        color: black;
        font-weight: 500;

}
.header-card-body{
    padding: 5px 32px;
}
.list-group-item img{
    border-radius: 25px;
    margin-right: 5px;
}
.owl-carousel2 .owl-nav {
margin-top: 0px !important;
}

.owl-carousel2{
    position: relative;
}
.owl-carousel2 .owl-nav{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    display: flex;
    justify-content: space-between;
}
.owl-carousel2 .owl-nav button span{
    color: rgb(159,115,255);
}
.owl-carousel2 .item img{
    border-radius: 15px;
} 

/* Top collection*/
.top-collection{
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}
.block-header{
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.top-collection .block-header button{
    border: 1px solid #53B9F3;
    width: 130px;
    height: 40px;
    color: white;
    background-color: #53B9F3;
    border-radius: 20px;
    transition: 0.4s;
}
.top-collection .block-header button:hover{
    background-color: white;
    color: #53B9F3;
    transform: scale(1.05);
}
.feature-card{
    padding: 10px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.feature-card:hover{
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}
.feature-card .card-head{
    display: flex;
    align-items: flex-start;
}
.feature-card .card-head img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.feature-card .card-head p{
    margin: 0px;
    color: rgba(0, 0, 0, 0.6);
    margin-left: auto;
    margin-right: 2px;
    font-size: 12px;
}
.card-head .card-bio{
    font-size: 16px;
    color: black;
    font-weight: 500;
}
.card-head .card-bio span{
    background-color: rgb(210, 245, 210);
    color: green;
    padding: 2px 10px;
    font-size: 10px;
    border-radius: 8px;
}
.feature-card .card-body{
    margin-top: 25px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.feature-card .card-body .card-values p{
    font-size: 10px;
    margin: 0px;
    color: grey;
}
.feature-card .card-body .card-values{
    font-size: 12px;
    font-weight: 500;
    color: black;
    text-align: center;
}
.block-body-gap{
    display: flex;
    gap: 10px;
}