* {
    transition-duration: 0.5s;
}

#toggle {
    background-color: white;
    width: 74px;
    height: 38px;
    border-radius: 20px;
    border: 6px solid black;
    cursor: pointer;
}

#circle {
    width: 34px;
    height: 28px;
    background-color: black;
    border-radius: 50%;
    margin-top: 0px;
    margin-left: 1px;
}

h1 {
    text-align: center;
}

.color-white {
    color: white;
}

.bck-color-black {
    background-color: black;
}

.ml-100 {
    margin-left: 100px;
}
